:root {
    --defautlFontSize: 1.2rem;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: 10px sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
}

body > * {
    font-size: var(--defautlFontSize);
    background-color: white;
}

.mainWrapper {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

header {
    width: 100%;
    text-align: right;
    color: white;
    background-color: darkblue;
    padding: 2rem;
}

.headerTitle {
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.headerSubtitle {
    font: italic bold small-caps var(--defautlFontSize) sans-serif;
}

.mainNav {
    background-color: #aaa;
    width: 20%;
}

.navList {
    padding: 0;
    margin: 2rem;
}

.nli {
    display: block;
}

.mainNav .navLink {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 0;
    transition: all 300ms ease-in-out;
}

.mainNav .navLink:link,
.mainNav .navLink:visited {
    color: white;
}

.mainNav .navLink:hover,
.mainNav .navLink:focus {
    color: red;
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 0 2rem;
}

.sectionHeader {
    text-align: left;
    color: darkblue;
    background: none;
    padding: 2rem 0 2rem 0;
}

.sectionHeader code {
    font-size: inherit;
}

.sectionDescription {
    font: italic var(--defautlFontSize) sans-serif;
}

.demoArticle {
    padding: 0 1rem;
    border: solid thin;
    border-radius: 1rem;
    margin: 0 0 1rem 0;
}

.demoArticle > h2 {
    color: darkblue;
}

.demoArticle code {
    font-size: 1em;
}

.articleDescription {
    font: bold italic var(--defautlFontSize) sans-serif;
}

.demoText {
    font: italic bold var(--defautlFontSize) sans-serif;
}

.demoText > * {
    text-decoration: underline;
}

details {
    margin: 0 0 1rem 0;
}

details th,
details td {
    padding: .5rem 1rem;
}

button {
    margin: 0 0 2rem 0;
}

.demoFigure {
    width: 50%;
    margin: 2rem auto;
}

.demoFigure img {
    width: 100%;
}

.demoFigure figcaption {
    font-style: italic;
}

.articleAside {
    color: white;
    font: bold small-caps 1rem sans-serif;
    background-color: black;
    padding: 1rem;
    border-radius: .5rem;
    margin: 0 0 1rem 0;
}

.artAsideLink {
    transition: all 300ms ease-in-out;
}

.artAsideLink:link,
.artAsideLink:visited {
    color: lightgray;
    text-decoration: none;
}

.artAsideLink:hover,
.artAsideLink:focus {
    color: red;
    text-decoration: underline;
}

.sectAside {
    color: white;
    background-color: darkgray;
    padding: 1rem;
    margin: 0 0 1rem 0;
}

code {
    font: bold var(--defautlFontSize) monospace;
}

.siteFooter {
    width: 100%;
    display: inherit;
    flex-wrap: inherit;
    justify-content: center;
    gap: .5rem;
    color: white;
    background-color: darkblue;
}

.footerBox {
    width: 30%;
    margin: 1rem 0;
}